pydantic~=2.11.0a2
python-dotenv~=1.0.1
requests~=2.32.3
FastAPI~=0.115.8
uvicorn~=0.34.0
docker~=7.1.0

##### based on the data handler needs ####
#numpy~=1.26.0
#scikit-learn~=1.6.1
#pandas~=2.2.1
#keras~=3.7.0
#psycopg2-binary~=2.9.9
#torch~=2.2.2
#tensorflow~=2.16.2
#skorch>=0.15.0
#torchvision~=0.17.2