web3~=7.8.0
numpy==1.23.5
skorch>=0.15.0
psycopg2-binary~=2.9.9
scikit-learn~=1.6.1
python-dotenv~=1.0.1
requests~=2.32.3
Flask~=2.3.3
keras~=3.7.0
joblib~=1.4.2
gensim~=4.3.2
diffprivlib~=0.6.5
pycloudmessenger~=0.8.2
pandas~=2.2.1
PyYAML~=6.0.2
tqdm~=4.67.1
python-dateutil~=2.9.0.post0
matplotlib~=3.9.4
docker~=7.0.0

torch ~= 2.2.2
tensorflow ~= 2.16.2
cython ~= 3.0.12