numpy~=1.26.0
skorch>=0.15.0
psycopg2-binary~=2.9.9
scikit-learn~=1.6.1
python-dotenv~=1.0.1
requests~=2.32.3
FastAPI~=0.115.8
uvicorn~=0.34.0
keras~=3.7.0
joblib~=1.4.2
gensim~=4.3.2
diffprivlib~=0.6.5
pycloudmessenger~=0.8.2
pandas~=2.2.1
PyYAML~=6.0.2
tqdm~=4.67.1
python-dateutil~=2.9.0.post0
matplotlib~=3.9.4
docker~=7.1.0

torch~=2.2.2
tensorflow~=2.16.2
cython~=3.0.12
pydantic~=2.11.0a2

torchvision~=0.17.2
kaggle~=1.7.4.5